:root {
  --primary-color: #ff5555;
}

* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  width: 375px;
  font-family: 'Hanken Grotesk', sans-serif;
  color: #cac9ff;
}
@media screen and (width>=736px) {
  body {
    width: 736px;
  }
  main {
    display: flex;
    width: 736px;
    border-radius: 32px;
  }
}
.result__title {
  margin: 0 0 24px 0;
  font-weight: 700;
  font-size: 1.125rem;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  padding: 24px 57px 40px;
  background-image: linear-gradient(#7755ff, #2f2ce9);
  border-radius: 0 0 32px 32px;
}

.result__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-image: linear-gradient(#4d21c9, transparent);
  margin-bottom: 24px;
}
.result__number--bold {
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 4.5rem;
  color: white;
}
.result__number--opacity {
  font-weight: 700;
  font-size: 1rem;
  opacity: 51%;
}

.result__evaluation {
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 8px;
}
.result__text {
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}

@media screen and (width>=736px) {
  .result {
    border-radius: 32px;
  }
  .result__title {
    font-size: 1.5rem;
  }
  .result__info {
    width: 200px;
    height: 200px;
    margin-bottom: 1.75rem;
  }
  .result__number--bold {
    font-size: 4.5rem;
  }
  .result__number--opacity {
    font-size: 1.125rem;
  }
  .result__evaluation {
    font-size: 2rem;
  }
  .result__text {
    font-size: 1.125rem;
  }
}

.summary {
  margin: 24px 30px 30px;
}

.summary__title {
  margin: 24px 0;
  font-weight: 700;
  font-size: 1.125rem;
  color: #303b59;
}

.summary__category {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1rem;
  width: 315px;
  border-radius: 12px;
  padding: 17px;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.summary__reaction {
  display: flex;
  gap: 0.75rem;
}

.summary__number {
  font-weight: 700;
  color: #303b59;
  font-size: 1rem;
}

.summary__number--opacity {
  opacity: 50%;
}

.summary__category--red {
  background-color: #fff6f6;
}

.summary__category--yellow {
  background-color: #fffbf4;
  color: #ffb21e;
}
.summary__category--green {
  background-color: #f2fcf9;
  color: #00bb8f;
}
.summary__category--blue {
  background-color: #f3f4fd;
  color: #1125d6;
  margin-bottom: 24px;
}
@media screen and (width >=736px) {
  .summary {
    margin: 38px 40px;
  }
  .summary__title {
    margin: 0 0 28px 0;
  }
  .summary__reaction-title {
    font-size: 1.125rem;
  }
  .summary__category--blue {
    margin-bottom: 41px;
  }
}

.button--darkblue {
  display: inline-block;
  font-weight: 700;
  font-size: 1.125rem;
  width: 315px;
  border-radius: 128px;
  background-color: #303b59;
  color: white;
  padding: 16px;
  text-align: center;
}
@media (hover: hover) {
  .button--darkblue:hover {
    background-image: linear-gradient(#7755ff, #2f2ce9);
  }
}
